{% extends 'blog/base.html' %}
{% load static %}

{% block head %}
<meta name="description" content="">
<title>CV</title>
{% endblock %}


{% block style %}
<style>
  
  .block-scale {
    transition: transform 0.3s, filter 0.3s;
  }
  
  .block-scale:hover {
    transform: scale(1.2);
  }
  </style>
{% endblock %}


{% block content %}




<div class="container">
<header class="border-bottom lh-1 py-3">
<div class="row flex-nowrap justify-content-between align-items-center">

  <div class="col-1 text-center">
    <a class="blog-header-logo text-body-emphasis text-decoration-none" href="{% url 'cv_view' %}">Krzysztof Służałek</a>
  </div>
  <div class="col-4 d-flex justify-content-end align-items-center">


<!-- Log in button / log out button-->
{% csrf_token %}
    {% if user.is_authenticated %}

    <div class="row">
      <div class="col">
        <button class="btn btn-sm btn-outline-secondary fs-6 mx-2" onclick="window.location.href = '{% url 'user_account'  user.username %}'">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>
          {{user.username }}
        </button> 
      </div>
    </div>
    
    <button type="button" class="btn btn-sm btn-outline-danger fs-6 mx-2" onclick="window.location.href = '{% url 'logout_user' %}'">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16">
        <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
        <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z"/>
      </svg>
      Log out
    </button>

    {% else %}

    <button type="button" class="btn btn-sm btn-outline-primary fs-6 d-flex align-items-center p-2" onclick="window.location.href = '{% url 'login_view' %}'">
      <span class="me-2">Log in</span>

      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
        <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
      </svg>

    </button>

    {% endif %}





  </div>
</div>
</header>





<div class="nav-scroller py-1 mb-3 border-bottom">
<nav class="nav nav-underline justify-content-between">
  <a class="nav-item nav-link link-body-emphasis active" href="{% url 'home_view' %}">Forum</a>
  <a class="nav-item nav-link link-body-emphasis" href="{% url 'cv_view' %}">CV</a>
  <a class="nav-item nav-link link-body-emphasis " href="{% url 'projects_view' %}">My projects</a>

</nav>
</div>
</div>



<main class="container min-vh-100">
  <div class="row d-flex justify-content-evenly p-3 mb-4  rounded" >
    <div class="col-4 block-scale p-5">
      <img src="{% static 'images/cv/me.jpg' %}" class="img-fluid rounded-top " alt="my_photo">
    </div>

    <div class="col-md-5 lead fw-normal d-flex justify-content-center align-items-center p-lg-1 block-scale ">
      <span class="p-2">

        Hi! My name is Krzysztof Służałek and I am Python developer. I live in Poland, in Silesian voivodeship and currently 
        I am studying applied information technology at Silesian University in Katowice. As a person without comercial experience, I am
        working by myself with projects that cames into my mind.
      </span>
      
    </div>
  </div>

<!-- Education -->
  <div class="row mb-4 justify-content-evenly">
    <div class="col bg-body-secondary mx-2 rounded block-scale p-3"  style="height: 40vh;">
      <p class="d-flex justify-content-center fw-bolder fs-4">
        Education
      </p>

      <!-- Table -->
      <div class="row">

        <!-- Number 1 -->
        <div class="row mb-3">
          <div class="col-3">
            10.2021 - currently
          </div>
          <div class="col-auto">
              <a href="https://us.edu.pl/en/" class="text-body-secondary d-flex link-offset-2 link-underline link-underline-opacity-0" target="_blank">
                Univeristy of Silesia in Katowice
              </a>
            <p class="fw-bold">
              Studding Applied Computer Science
            </p>
          </div>
        </div>

        <!-- Number 2 -->
        <div class="row mb-3">
          <div class="col-3">
            09.2016 - 04.2020
          </div>
          <div class="col-auto">
              <a href="https://zse.edu.pl/" class="text-body-secondary d-flex link-offset-2 link-underline link-underline-opacity-0" target="_blank">
               Electronic and IT school complex - technical school
              </a>
            <p class="fw-bold">
              IT specialist
            </p>
          </div>
        </div>

      </div>
      <!-- Table -->

    </div>

<!-- Experience -->
    <div class="col bg-body-tertiary mx-2 rounded block-scale p-3">
      <p class="d-flex justify-content-center fw-bolder fs-4">
        Experience
      </p>

      
      <div class="row">


        <!-- Number 1 -->
        <div class="row mb-3">
          <div class="col-3">
            08.2021 - currently
          </div>
          <div class="col-auto">
            Food delivery
          </div>
        </div>

        <!-- Number 2 -->
        <div class="row  mb-3">
          <div class="col-3">
            01.2020 - 01.2021
          </div>
          
          <div class="col-9">


              <a href="https://aktin.pl/" class="text-body-secondary d-flex link-offset-2 link-underline link-underline-opacity-0" target="_blank">
                Aktin limited company
              </a>

              <ol type="I">
                <li class="fw-bolder">
                    As Site / online shop Administrator
                </li>
                <li class="fw-bolder">
                    As media and computer lab installer
                </li>
              </ol>


              My main jobs:
              <ul>
                <li class="fw-bolder">
                  Managing and Administering company's online shop and company's site
                </li>
                <li class="fw-bolder">
                    Servicing PC, tablets, Laptops
                </li>
                <li class="fw-bolder">
                    Basic configuration of network devices
                </li>
              </ul>



          </div>
        </div>

        <!-- Number 3 -->
        <div class="row">
          <div class="col-3">
            09.2018 - 04.2020
          </div>
          <div class="col-auto">
            Pro publico bono work in school volunteering
          </div>
        </div>
      </div>

    </div>
  </div>


<!-- Main Technologies -->
  <div class="row mb-4 justify-content-evenly">
    <div class="col bg-body-tertiary mx-2 rounded block-scale p-3"  style="height: 40vh;">
      <p class="d-flex justify-content-center fw-bolder fs-4">
        Main Technologies
      </p>

      <div class="row">
        <div class="row mb-1">
          <div class="col-2">
            <!-- Image -->
          </div>
          <div class="col-10">
            Python
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-2">
            <!-- Image -->
          </div>
          <div class="col-10">
            Django
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-2">
            <!-- Image -->
          </div>
          <div class="col-10">
            SQL - MySQL, Sqlite3
          </div>
        </div>


        <div class="row mb-1">
          <div class="col-2">
            <!-- Image -->
          </div>
          <div class="col-10">
            Git/Github
          </div>
        </div>


        <div class="row mb-1">
          <div class="col-2">
            <!-- Image -->
          </div>
          <div class="col-10">
            HTML
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-2">
            <!-- Image -->
          </div>
          <div class="col-10">
            CSS
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-2">
            <!-- Image -->
          </div>
          <div class="col-10">
            JSON
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-2">
            <!-- Image -->
          </div>
          <div class="col-10">
            JavaScript
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-2">
            <!-- Image -->
          </div>
          <div class="col-10">
            Visual studio code
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-2">
            <!-- Image -->
          </div>
          <div class="col-10">
            Agile/Scrum
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-2">
            <!-- Image -->
          </div>
          <div class="col-10">
            Linux
          </div>
        </div>
      </div>

    </div>

<!-- Skills -->
    <div class="col bg-body-secondary mx-2 rounded block-scale  p-3">

      <div class="row">
        <div class="row">
          <div class="col-6 ">
            <p class="fw-bolder d-flex justify-content-center  fs-4">
              Skills
            </p>
            
            <div class="container text-center">
              <p>
                Creativity
              </p>
              <p>
                Fast learning ability
              </p>
              <p>
                Independence
              </p>
              <p>
                Problem Solving
              </p>
              <p>
                Multitasking
              </p>
              <p>
                Teamwork
              </p>
              <p>
                Attention to Detail
              </p>
              <p>
                Analytical Skills
              </p>

            </div>
            
          </div>
          <div class="col-6">
            <p class="fw-bolder d-flex justify-content-center  fs-4">
              Languages
            </p>
            <div class="container text-center">
                <p>
                  Polish - Native
                </p>
                <p>
                  English - B2
                </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row mb-4 justify-content-evenly">
    <div class="col bg-body-secondary mx-2 rounded block-scale p-3"  style="height: 40vh;">
      <p class="d-flex justify-content-center fw-bolder fs-4">
        Interests
      </p>

      <div class="container text-center">
        <p>
          IT
        </p>
        <p>
          Car mechanics
        </p>
        <p>
          New technologies
        </p>
        <p>
          Sport - Calisthenics, volleyball
        </p>
        <p>
          Health 
        </p>
    </div>
    </div>

    <div class="col bg-body-tertiary mx-2 rounded block-scale  p-3">
      <p class="d-flex justify-content-center fw-bolder fs-4">
        Personal info
      </p>

      <!-- Mail -->
      <div class="container mb-4 d-flex justify-content-center align-items-center">
        <a href="mailto:krz.sluzalek@gmail.com" class="text-body-secondary d-flex justify-content-center align-items-center link-offset-2 link-underline link-underline-opacity-0" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
              <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
          </svg>
          <span class="m-2">
            krz.sluzalek@gmail.com
          </span>
        </a>
      </div>
      <!-- Mail -->

      <!-- Adress -->
      <div class="container mb-4 d-flex justify-content-center align-items-center">
        <a href="https://www.google.com/maps/search/?api=1&query=Sosnowiec" class="text-body-secondary d-flex justify-content-center align-items-center link-offset-2 link-underline link-underline-opacity-0" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg>
          <span class="m-2">
            Sosnowiec, Poland
          </span>
        </a>
      </div>
      <!-- Adress -->

      <!-- Phone -->
      <div class="container mb-4 d-flex justify-content-center align-items-center">
        <a href="tel:510770960" class=" text-body-secondary d-flex justify-content-center align-items-center link-offset-2 link-underline link-underline-opacity-0" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
            <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
          </svg>
          <span class="m-2">
            510-770-960
          </span>
        </a>
      </div>
      <!-- Phone -->

      <!-- Git -->
      <div class="row mb-4 text-center">
          <a href="https://github.com/Vercixxx"  target="_blank" class="text-body-secondary d-flex justify-content-center align-items-center link-offset-2 link-underline link-underline-opacity-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
              <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
            </svg>
          </a>
      </div>
      <!-- Git -->

      <!-- Linkedin -->
      <div class="row mb-4 text-center">
        <a href="https://linkedin.com/in/krzysztof-sluzalek"  target="_blank" class="text-body-secondary d-flex justify-content-center align-items-center link-offset-2 link-underline link-underline-opacity-0">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
            <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
          </svg>
        </a>
    </div>
    <!-- Linkedin -->

    </div>
  </div>



</main>


{% endblock %}

{% block scripts %}

{% endblock %}