/* Resetowanie styli dla elementów HTML */
body, h1, h2, h3, h4, h5, h6, p, ul, li, table, th, td {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Ustawienia strony */
body {
    display: grid;
    min-height: 100vh;
    background: linear-gradient(to bottom, #d8d1e0, #a592c6); /* Tło gradientowe */
}

/* Pasek górny */
header {
    background-color: #5c4a72;
    color: #ffffff;
    padding: 20px;
    height: 8%; /* Stała wysokość 8% wysokości strony */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1 {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 20px; /* Większa odległość między przyciskami */
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px; /* Stała szerokość i wysokość przycisków */
    border-radius: 3px;
    background-color: #815f92;
}

/* Tabela postów */
main {
    width: 50%;
    margin: 0 auto;
    margin-top: 2%; /* Odstęp 20% wysokości strony od góry */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #5c4a72;
    color: #ffffff;
}

.post-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #5c4a72;
    color: #ffffff;
}

.post-title-info {
    display: flex;
}

.post-title-info > span {
    margin-left: 10px;
}

.post-views, .post-comments {
    margin-right: 10px;
}

/* Post content */
.post-content {
    min-height: 4%;
    max-height: 7%;
    overflow: auto;
}

/* Stopka */
footer {
    background-color: #5c4a72;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    height: 8%; /* Stała wysokość 8% wysokości strony */
}

.footer-icons a {
    margin-right: 20px; /* Większa odległość między ikonami */
}

.footer-icons img {
    width: 32px; /* Stały rozmiar ikon */
    height: 32px;
    vertical-align: middle;
}

/* Odstępy między postami */
table tr:not(:first-child) {
    margin-top: 8%; /* Odstęp 8% wysokości strony */
}
