{% extends 'blog/base.html' %}
{% load static %}



{% block content %}

<!-- Daily sentense -->
<main class="container">
    <div class="col-lg-6 px-0 w-100">
      <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary" style="background-image: url('{% static "images/mountains.jpg" %}'); background-size: cover; background-position: center;">
    
        <h1 class="display-4 fst-italic">― Madonna</h1>
        <p class="lead my-3">“No matter who you are, no matter what you did, no matter where you've come from, you can always change, become a better version of yourself.”</p>
    
      </div>
    </div>
    
        <!-- <p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold">Continue reading...</a></p> -->
  
        
        {% if messages %}
        {% for message in messages %}

        <div class="alert alert-{{ message.tags }} alert-dismissible fade show " role="alert">
          <strong>Register system</strong> 
          <div>
                      {{ message }}
          </div>

          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}



        
        

        








  </main>

{% endblock %}