{% extends 'blog/base.html' %}
{% load static %}



{% block content %}




<div class="container">
<header class="border-bottom lh-1 py-3">
<div class="row flex-nowrap justify-content-between align-items-center">

  <div class="col-1 text-center">
    <a class="blog-header-logo text-body-emphasis text-decoration-none" href="#">Blog</a>
  </div>
  <div class="col-4 d-flex justify-content-end align-items-center">


<!-- Log in button / log out button-->
{% csrf_token %}
    {% if user.is_authenticated %}

    <div class="row">
      <div class="col">
        <button class="btn btn-sm btn-outline-secondary fs-6 mx-2" onclick="window.location.href = '{% url 'user_account' %}'">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>
          {{user.username }}
        </button> 
      </div>
    </div>
    
    <button type="button" class="btn btn-sm btn-outline-danger fs-6 mx-2" onclick="window.location.href = '{% url 'logout_user' %}'">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16">
        <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
        <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z"/>
      </svg>
      Log out
    </button>

    {% else %}

    <button type="button" class="btn btn-sm btn-outline-primary fs-6" onclick="window.location.href = '{% url 'login_view' %}'">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
        <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
      </svg>
      Sign up
    </button>

    {% endif %}





  </div>
</div>
</header>





<div class="nav-scroller py-1 mb-3 border-bottom">
<nav class="nav nav-underline justify-content-between">
  <a class="nav-item nav-link link-body-emphasis active" href="#">Site1</a>
  <a class="nav-item nav-link link-body-emphasis" href="#">Site2</a>
  <a class="nav-item nav-link link-body-emphasis" href="#">Site3</a>
  <a class="nav-item nav-link link-body-emphasis" href="#">Site4</a>

</nav>
</div>
</div>



<main class="container">
  
        
  {% if messages %}
  {% for message in messages %}

  <div class="alert alert-{{ message.tags }} alert-dismissible fade show " role="alert">
    <strong>Register system</strong> 
    <div>
                {{ message }}
    </div>

    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}

  <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary" 
  style="background-image: url('{% static "images/mountains.jpg" %}'); background-size: cover; background-position: center; filter: brightness(70%);">

    <h1 class="display-4 fst-italic">― Madonna</h1>
    <p class="lead my-3">“No matter who you are, no matter what you did, no matter where you've come from, you can always change, become a better version of yourself.”</p>

  </div>


  </div>



  <!-- Posts section -->
  <div class="container">
    <div class="row">
      <div class="col">
        
        <!-- Articles -->
        {% for post in posts %}
        <article class="blog-post border border-secondary-subtle p-2">
          <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'post_view' post.id %}"> 
            <h2 class="display-6 link-body-emphasis mb-1">
              {{ post.title }}
            </h2>
          </a>
          
          <p class="blog-post-meta"> 
            <div class="d-flex justify-content-between">
              <div class="p-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                  <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                  <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                </svg>
                {{  post.posted_date|date:"F d, Y" }} 
                - Added by 
                    {{ post.author }}
                    
              </div>
              <div class="p-2 ">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                  <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                  <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                </svg>
                {{post.views}}

                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chat-left-text" viewBox="0 0 16 16">
                  <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                  <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                </svg>
                {{post.comments}}
              </div>

            </div>




          </p>
    
          <hr>
    
          <p>
            {{ post.content }}
          </p>
        </article>
        {% endfor %}
    
      </div>


      <!-- Legend of posts -->
      <div class="col-4">
        <div class="container">
          <div class="container text-center d-flex justify-content-center align-items-center ">
            <!-- Title -->
            <p class="blog-header-logo text-body-emphasis text-decoration-none">
              Legend
            </p>
          </div>


          <ul>
            <!-- List of posts titles -->
            {% for post in posts %}
              <button type="button" class="btn btn-dark text-start" onclick="window.location.href = '{% url 'post_view' post.id %}'">>

                    {{ post.title }}

                    <p>{{  post.posted_date|date:"F d, Y" }}</p>

              </button>
            {% endfor %}

          </ul>
        </div>
      </div>
    </div>
 

    
</div>




  </main>

{% endblock %}