<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index_css.css' %}">

</head>
<body>
    <header>
        <div class="logo">
            <h1>Krzysztof Służałek</h1>
        </div>
        <nav>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <table>
            <tr>
                <td>
                    <div class="post-title">
                        <span class="post-title-text">Post Title 1</span>
                        <span class="post-title-info">
                            <span class="post-views">100 views</span>
                            <span class="post-comments">20 comments</span>
                        </span>
                    </div>
                    <div class="post-content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </div>
                </td>
            </tr>
            <!-- Dodaj więcej postów w tabeli -->
        </table>
    </main>

    <footer>
        <div class="footer-icons">
            
            <a href="#"><img src="{% static 'images/github-icon.png' %}" alt="GitHub"></a>
            <a href="#"><img src="{% static 'images/linkedin-icon.png' %}" alt="LinkedIn"></a>
        </div>
        <p>&copy; 2023 Krzysztof Służałek. All rights reserved.</p>
    </footer>
</body>
</html>
